*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #859cd2;
}

.container{
    width: 800px;
    max-width: 800px;
    max-height: 90vw;
    height: auto;
    margin: 30px 10px 20px 10px;

}

.img-profile-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.img-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.img-profile-box h1,h2{
    margin-top: 15px;
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.link-box{
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    width: 100%;
    max-width: 390px;
    height: 30px;
    border-radius: 10px;
    background-color: #859cd2;
    box-shadow: -5px 5px 10px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;

}

.img-box a {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    color: #859cd2;
    text-decoration: none;
    display: flex;
     align-items: center;
    justify-content: flex-start;
   
}

.link-box:hover{
    background-color: rgb(255, 255, 255);
}

footer{
    width: 100%;
    height: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 50px;
}